__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env

reports/figures/*
!reports/figures/.gitkeep

reports/tables/*
!reports/tables/.gitkeep

# local environments
.venv/
venv/

# local secrets
*.env

src/pull_2025_26_backwards_with_odds.py
src/pull_2025_26_props_minimal.py
